---
import { Badge } from "~/components/ui/badge";
import BaseLayout from "~/layouts/base-layout.astro";
import { contents } from "~/lib/content";
---

<BaseLayout>
  <div class="mx-auto w-full max-w-[80ch] p-4">
    <ul class="flex flex-col gap-4">
      {
        contents.map((content) => (
          <li class="rounded-md border border-accent p-4 transition-colors hover:border-foreground">
            <a href={`/posts/${content.id}`}>
              <div class="mb-0.5 flex gap-4">
                <h2 class="inline-block text-xl font-semibold tracking-wide">
                  {content.data.title}
                </h2>
                <ul class="flex flex-wrap gap-2">
                  {content.data.tags.map((tag) => (
                    <li>
                      <Badge>{tag}</Badge>
                    </li>
                  ))}
                </ul>
              </div>
              <p class="mb-2 h-5 text-sm">{content.data.category}</p>
              <p class="text-sm text-muted-foreground">
                {content.data.published.toLocaleDateString()}
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</BaseLayout>
